.body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    flex-shrink: 0;
    flex-grow: 0;
}